<!DOCTYPE html>
<html>
	<head>
		<title>{% block titulo %}Welcome!{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{debug_head()}}
	</head>
	<body>
		hello {{name}}
        {{debug_bar()}}
	</body>
</html>